.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color:black;
    color:white;
    border-radius: 5px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    
}

.operador{
    background-color:rgb(5, 143, 23) ;
}

.boton-contenedor:hover{
    background-color:rgb(211, 100, 57);
}

.operador:hover{
    background-color: rgb(154, 0, 201);
}